@using LogHub.Web.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>LogHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/app.css")" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">LogHub</a>
                <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-user"></i> Gokhan Demir
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                        <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("SignOut","Login")"><i class="icon-off"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list" data-bind="foreach: pages" id="pages">
                        <li data-bind="css: {active: isActive}"><a data-bind="attr: { href: url }"><i data-bind="attr: {class: icon}"></i><span data-bind="text: name"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="span10" id="pageContainer">
            </div>
        </div>
    </div>
    @Html.RenderTemplates("~/Templates/")
    <script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/underscore.min.js")"></script>
    <script src="@Url.Content("~/Scripts/sammy-latest.min.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.1.0.debug.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout.mapping-latest.debug.js")"></script>
    <script src="@Url.Content("~/Scripts/bindings.js")"></script>
    <script src="@Url.Content("~/Scripts/restclient.js")"></script>
    <script src="@Url.Content("~/Scripts/ViewModels/page.js")"></script>
    <script src="@Url.Content("~/Scripts/ViewModels/recent.js")"></script>
    <script src="@Url.Content("~/Scripts/ViewModels/search.js")"></script>
    <script src="@Url.Content("~/Scripts/app.js")"></script>
</body>
</html>
